<div class="featured">
  <img [src]="state.bannerURL" alt="" />
  <div class="info" style=" width:100%;display: flex; flex-direction: row;  margin-left: 70px;">
    <div class="left" style="display: flex; flex-direction: column; justify-content: center;width: 400px;">
      <img [src]="state.cardURL" alt="" />
      <span class="desc">
        {{state.description}}
        
      </span>
    </div>
    <div class="right" style="display: flex; flex-direction: column; justify-content: center; margin-left: 50px;  ">
      <h1 style="margin-bottom: 30px;">{{state.title}}</h1>
      <div class="buttons">
        <button (click)="onClick()" class="play">
          <span>Book Show</span>
        </button>
        <button class="more">
          <span>Info</span>
        </button>
      </div>
    </div>
  </div>
  
</div>
